<app-base-table 
  [apiService]="apiService"
  [columns]="columns"
  [title]="'Danh sách kế mục tiêu thiết bị'"
  [showAddButton]="true"
  [actionTemplate]="customActions"
  [actionCondition]="actionCondition">
  <ng-template appColumnTemplate="status" let-rowData>
    <p-tag [value]="statusToString(rowData)" [severity]="statusToSeverity(rowData)"></p-tag>
  </ng-template>
  <ng-template appColumnTemplate="createdAt" let-rowData>
    {{ rowData | date: 'dd/MM/yyyy' }}
  </ng-template>
  <ng-template appColumnTemplate="updatedAt" let-rowData>
    {{ rowData | date: 'dd/MM/yyyy' }}
  </ng-template>
</app-base-table>
<ng-template #customActions let-row>
  <!-- <p-button icon="pi pi-file-check" *ngIf="row.status == 1" title="gửi phê duyệt"
    styleClass="p-button-sm p-button-rounded p-button-success m-1" (onClick)="approval(row, $event)"></p-button> -->
  <p-button icon="pi pi-check-square" title="Thực hiện mục tiêu"
    styleClass="p-button-sm p-button-rounded p-button-warn m-1" (onClick)="checkList(row)"></p-button>
  <!-- <p-button icon="pi pi-file-pdf" title="Xem báo cáo"
    styleClass="p-button-sm p-button-rounded p-button-info m-1" (onClick)="viewPlanReport(row)"></p-button> -->
</ng-template>
<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>