<div class="maintance-table">
    <div class="card mt-3" id="print-section">
        <div class="table-responsive">
            <p-table [value]="model.planDetails" dataKey="id" class="p-datatable-gridlines text-sm">
                <ng-template pTemplate="header">
                    <tr>
                        <th colspan="2">
                            <img src="/assets/imgs/logo-rang-dong.png" style="width:150px;" />
                        </th>
                        <th colspan="12" class="text-center">
                            <div>
                                <div><strong>LỊCH BẢO DƯỠNG, SỬA CHỮA THIẾT BỊ ĐỊNH KỲ</strong></div>
                                <div><span id="SpanPlanYear"></span></div>
                            </div>
                        </th>
                        <th colspan="2">
                            <div class="flex flex-col">
                                <div class="flex items-center">
                                    <label class="font-semibold">Đơn vị:&nbsp; {{ model.branch?.name }}</label>
                                    <span id="SpanPlanDonVi"></span>
                                </div>
                                <div class="flex items-center">
                                    <label class="font-semibold">Số:&nbsp; {{ model.code }}</label>
                                    <span id="SpanSoKeHoach"></span>
                                    <span id="SpanDieuChinh"></span>
                                </div>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th rowspan="2">STT</th>
                        <th rowspan="2">Tên thiết bị</th>
                        <th colspan="12" class="text-center">Tháng</th>
                        <th rowspan="2">Bản kế hoạch BDSC thiết bị chi tiết kèm theo</th>
                        <th rowspan="2">Ghi chú</th>
                    </tr>
                    <tr>
                        <th *ngFor="let month of months">{{ month }}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                    <tr class="table-hover" (click)="onRowClick(item)">
                        <td>{{ rowIndex + 1 }}</td>
                        <td>{{ item.device?.name }}</td>
                        <td *ngFor="let month of months" class="text-center">
                            <span *ngIf="item.estimatedTime && (!item.planResults || item.planResults.length === 0)">
                                <span *ngIf="getEstimatedMonth(item) === month">
                                    <i class="fa-solid fa-xmark"></i>
                                </span>
                            </span>
                            <ng-container *ngIf="getEstimatedMonth(item) === month && item.planResults?.length">
                                <ng-container *ngFor="let dtMonth of getDateTestMonths(item)">
                                    <i *ngIf="dtMonth === month" class="fa-regular fa-circle-xmark fa-xl"></i>
                                    <ng-container *ngIf="dtMonth !== month">
                                        <ng-container [ngSwitch]="getArrowPosition(getEstimatedMonth(item), dtMonth)">
                                            <span *ngSwitchCase="'before'" class="d-flex">
                                                <i class="fa-solid fa-arrow-left"></i>
                                                <i class="fa-solid fa-xmark"></i>
                                            </span>
                                            <span *ngSwitchCase="'after'" class="d-flex">
                                                <i class="fa-solid fa-xmark"></i>
                                                <i class="fa-solid fa-arrow-right"></i>
                                            </span>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                            <span *ngIf="getEstimatedMonth(item) !== month && getDateTestMonths(item).includes(month)">
                                <i class="fa-regular fa-circle-xmark fa-xl"></i>
                            </span>
                        </td>
                        <td>{{ item.nameDetail }}</td>
                        <td>{{ item.note }}</td>
                    </tr>
                </ng-template>
            </p-table>
            <table id="nghemthu-details-table" class="table table-bordered table-hover" style="width: 100%;">
                <thead>
                    <tr>
                        <th *ngFor="let g of listUserApproval" class="text-center">
                            <div class="only-print italic"
                                style="display: none; font-weight: normal; font-size: 11px; margin-bottom: 5px;">
                                Ngày ...... tháng ...... năm 20....
                            </div>
                            {{ g.groupName }}
                        </th>
                    </tr>
                    <tr>
                        <td *ngFor="let g of listUserApproval" class="">
                            <div *ngFor="let sig of g.signatures" style="margin-bottom: 10px;text-align: center;">
                                <img *ngIf="sig" [src]="sig"
                                    style="width: 120px; height: 60px; display: block; margin: 0 auto;">
                                <span *ngIf="!sig" style="font-weight: bold;">Đã ký</span>
                            </div>
                        </td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    <div class="d-flex justify-content-end mt-3">
        <p-button label="Quay lại" severity="info" (click)="onBack()" icon="pi pi-arrow-left" class="me-2"></p-button>
        <p-button label="In" icon="pi pi-file-export" severity="success" (click)="exportPDF()" class="me-2"></p-button>
    </div>
</div>