<div class="content-container">
  <h1 class="display-4">
    <span>Chào mừng bạn đến với hệ thống quản lý thiết bị</span>
    <small>(QLTB)</small>
  </h1>

  <p class="lead" jhiTranslate="home.subtitle">Đây là trang chủ của bạn</p>

  <div>
    @if (account() !== null) {
      <div class="alert alert-success">
        @if (account()) {
          <span id="home-logged-message">
            Xin chào, {{ account()!.login }}! Chúc bạn có một ngày làm việc hiệu quả.
          </span>
        }
      </div>
    } @else {
      <div>
        <div class="w-full md:w-5/12 flex items-center justify-center py-5">
          <p-button label="Đăng nhập" icon="pi pi-user-plus" severity="success" class="w-full max-w-[17.35rem]" (click)="login()"
            styleClass="w-full mx-auto" />
        </div>
      </div>
    }
  </div>
</div>