.scan-qr-device {
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
}
.device-task {
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
}

::ng-deep .p-floatlabel {
    width: 100% !important;
}