<div class="row my-3">
    <div class="col-12 my-3" *ngIf="!hideUser">
        <table id="nghemthu-details-table" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th *ngFor="let h of listUserApprover || []">
                        {{ userMap[h.userApproval?.username] || h.userApproval?.username }}
                    </th>
                </tr>
                <tr>
                    <th *ngFor="let h of listUserApprover">
                        <p-tag [value]="h.status == 3 ? 'Đã duyệt' : 'Chưa duyệt'"
                            [severity]="h.status == 3 ? 'success' : 'danger'">
                        </p-tag>
                    </th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="col-12 my-3" *ngIf="approvalModel?.status === 6">
        <textarea pTextarea class="form-control" rows="5" placeholder="Mô tả ..." [(ngModel)]="approvalModel.note">
        </textarea>
    </div>
    <div class="col-12 my-3">
        <p-floatlabel variant="on">
            <p-select [(ngModel)]="approvalModel.status" [options]="listApprovalStatus" optionLabel="label"
                [fluid]="true" optionValue="value" [showClear]="true" [appendTo]="'body'" id="status" name="status"
                [invalid]="!approvalModel.status" required>
            </p-select>
            <label for="status">Tùy chọn duyệt</label>
        </p-floatlabel>
    </div>
</div>