@media print {

  /* Ẩn phân trang PrimeNG */
  .p-paginator,
  .p-paginator-bottom,
  .p-datatable-footer,
  .p-paginator-current {
    display: none !important;
  }

  /* Bảng in đẹp hơn */
  table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    border: 1px solid #000;
    padding: 4px;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
  }

  .print-footer {
    position: fixed;
    bottom: 5mm;
    right: 10mm;
    font-size: 10px;
    font-style: italic;
    transform: translateY(-10px);
  }
}