<app-base-table [apiService]="apiService" [columns]="columns" [title]="'Danh sách tài liệu cần phê duyệt'"
  [showAddButton]="false" [showEditButton]="false" [showViewButton]="false" [actionTemplate]="customActions">
  <ng-template appColumnTemplate="approval.status" let-status>
    <p-tag [value]="statusToString(status)" [severity]="statusToSeverity(status)"></p-tag>
  </ng-template>

  <ng-template appColumnTemplate="approval" let-rowData>
    {{ getEntityType(rowData) }}
  </ng-template>
  <ng-template appColumnTemplate="approval.createdAt" let-rowData>
    {{ rowData | date: 'dd/MM/yyyy' }}
  </ng-template>
  <ng-template appColumnTemplate="approval.updatedAt" let-rowData>
    {{ rowData | date: 'dd/MM/yyyy' }}
  </ng-template>
</app-base-table>
<ng-template #customActions let-row>
  <p-button *ngIf="row.approval.status == 1 && row.approval.checkStatus == 1" icon="pi pi-file-check" styleClass="p-button-sm p-button-rounded p-button-success m-1"
    (onClick)="approvalDocument(row)"></p-button>
</ng-template>