<div>
  <h2>{{ isAddMode ? 'Thêm mới kê hoạch mục tiêu thiết bị' : (isViewMode ? 'Xem chi tiết kê hoạch mục tiêu thiết bị' : 'Sửa kê hoạch mục tiêu thiết bị') }}</h2>

  <form #f="ngForm" *ngIf="model">
    <div class="row my-3">
      <div class="col-6" *ngIf="!isAddMode">
        <p-floatlabel variant="on">
          <input pInputText id="code" name="code" [(ngModel)]="model.code" autocomplete="off" [disabled]="true" [fluid]="true"/>
          <label for="code">Mã kế hoạch</label>
        </p-floatlabel>
      </div>
      <div [ngClass]="isAddMode ? 'col-12' : 'col-6'">
        <p-floatlabel variant="on">
          <input pInputText id="name" name="name" [(ngModel)]="model.name" required [invalid]="!model.name" autocomplete="off" [disabled]="isViewMode  || isApprovalMode" [fluid]="true"/>
          <label for="name">Tên kế hoạch</label>
        </p-floatlabel>
      </div>
    </div>

    <div class="row my-3">
      <div class="col-6">
        <p-floatlabel variant="on">
          <p-select [(ngModel)]="factory" [options]="listFactory"
            [fluid]="true" [disabled]="isViewMode || isApprovalMode" [showClear]="true" [appendTo]="'body'" id="factory"
            name="factory" optionLabel="name" optionValue="code" dataKey="id">
          </p-select>
          <label for="factory">Xưởng</label>
        </p-floatlabel>
      </div>

      <div class="col-6">
        <p-floatlabel variant="on">
          <p-select [(ngModel)]="model.branch" [options]="listBranchs" [invalid]="!model.branch" required
            [fluid]="true" [filter]="true" [disabled]="isViewMode || isApprovalMode" [showClear]="true" [appendTo]="'body'" id="branch"
            name="branch" optionLabel="name" dataKey="id">
          </p-select>
          <label for="branch">Ngành</label>
        </p-floatlabel>
      </div>
    </div>
    <div class="row my-3">
      <div class="col-6">
        <p-floatlabel variant="on">
          <input pInputText id="planNumber" name="planNumber" [(ngModel)]="model.planNumber" [invalid]="!model.planNumber" required autocomplete="off" [disabled]="isViewMode || isApprovalMode" [fluid]="true"/>
          <label for="planNumber">Số KH</label>
        </p-floatlabel>
      </div>

      <div class="col-6">
        <p-floatlabel variant="on">
          <p-inputnumber id="numberOfIssuances" name="numberOfIssuances" [(ngModel)]="model.numberOfIssuances" [invalid]="!model.numberOfIssuances" required autocomplete="off" [disabled]="isViewMode" [fluid]="true" mode="decimal" [disabled]="isViewMode || isApprovalMode"/>
          <label for="numberOfIssuances">Lần ban hành</label>
        </p-floatlabel>
      </div>
    </div>

    <div class="row my-3">
      <div class="col-6">
        <p-floatlabel variant="on">
          <p-datepicker [(ngModel)]="model.year" appDateConvert [iconDisplay]="'input'" [showIcon]="true" name="year" view="year"
            inputId="icondisplay" [dateFormat]="'yy'" [invalid]="!model.year" required  appendTo="body" [inputSize]="100" [disabled]="isViewMode || isApprovalMode"/>
          <label for="year">Năm</label>
        </p-floatlabel>
      </div>
      
      <div class="col-6">
        <p-floatlabel variant="on">
          <p-select [(ngModel)]="model.approvalWorkflow" [invalid]="!model.approvalWorkflow" required
            [options]="listApprovalWorkflow" optionLabel="name" [fluid]="true" [filter]="true" [disabled]="isViewMode || isApprovalMode"
            [showClear]="true" [appendTo]="'body'" id="approvalWorkflow" name="approvalWorkflow" dataKey="id">
          </p-select>
          <label for="approvalWorkflow">Kịch bản phê duyệt</label>
        </p-floatlabel>
      </div>
    </div>

    <div class="d-flex my-3 align-items-center justify-content-between">
      <h4 style="margin: 0;">Danh sách hạng mục thực hiện</h4>
      <p-button *ngIf="!isViewMode && !isApprovalMode" label="Thêm hạng mục" icon="pi pi-plus" severity="success"
        class="w-full max-w-[17.35rem]" styleClass="w-full mx-auto" (click)="addNewRowAndEdit(false)" />
    </div>
    
    <div class="row my-3">
      <p-table #dt [value]="model.listItems!">
        <ng-template pTemplate="header">
          <tr *ngIf="isViewMode">
            <th colspan="1">
              <img src="/assets/imgs/logo-rang-dong.png" style="width:150px;" />
            </th>
            <th colspan="4" class="text-center">
              <div>
                <div><strong>KẾ HOẠCH THỰC HIỆN MỤC TIÊU THIẾT BỊ</strong></div>
                <div><span id="SpanPlanYear">{{ model.year | date:'yyyy' }}</span></div>
              </div>
            </th>
            <th colspan="2">
              <label class="font-semibold">Đơn vị:&nbsp; Đơn vị: LED; Xưởng LED - Điện tử & TBCS</label>
              <div><span id="planCode">{{ model.planCode }}</span></div>
            </th>
          </tr>
          <tr>
            <th>Nội dung</th>
            <th>Mục tiêu</th>
            <th>Biện pháp thực hiện</th>
            <th>Thời hạn</th>
            <th *ngIf="!isViewMode && !isApprovalMode">Mục tiêu thực hiện</th>
            <th *ngIf="!isViewMode && !isApprovalMode">Giá trị đối chiếu</th>
            <th>Người thực hiện</th>
            <th>Đơn vị phối hợp</th>
            <th>Ghi chú</th>
            <th *ngIf="!isViewMode && !isApprovalMode">Thao tác</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row let-i="rowIndex">
          <tr>
            <td>{{ row.measurement }}</td>
            <td>{{ row.target }}</td>
            <td>{{ row.solution }}</td>
            <td>{{ frequencyToText(row.duaration) }}</td>
            <td *ngIf="!isViewMode && !isApprovalMode">{{ targetTypeToText(row.targetType) }}</td>
            <td *ngIf="!isViewMode && !isApprovalMode">{{ row.minValue }}</td>
            <td>{{ row.userAct }}</td>
            <td>{{ row.coordinationUnit }}</td>
            <td>{{ row.note }}</td>
            <td class="text-center" *ngIf="!isViewMode && !isApprovalMode">
              <div class="d-flex">
                <p-button icon="pi pi-pencil" severity="warn" (onClick)="addNewRowAndEdit(true, row)" styleClass="mx-2"></p-button>
                <p-button icon="pi pi-trash" severity="danger" (onClick)="deleteRow(i)" styleClass="mx-2"></p-button>
              </div>
            </td>
          </tr>
        </ng-template>
    
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="99" class="text-center">Không có dữ liệu</td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="row my-3">
      <div class="col-12">
        <textarea pTextarea class="form-control" rows="5" placeholder="Mô tả ..." id="description" name="description"
          [(ngModel)]="model.description" [disabled]="isViewMode  || isApprovalMode"></textarea>
      </div>
    </div>

    <div class="row my-3" *ngIf="!isApprovalMode">
      <div class="col-12">
        <p-floatlabel variant="on">
          <p-select [(ngModel)]="model.status" [options]="listStatus" optionLabel="label" [fluid]="true"
            [disabled]="isViewMode" optionValue="value" [showClear]="true" [appendTo]="'body'" id="status" name="status"
            [invalid]="!model.status" required>
          </p-select>
          <label for="status">Trạng thái</label>
        </p-floatlabel>
      </div>
    </div>
    
    <div class="row my-3" *ngIf="isApprovalMode">
      <app-base-approval [approvalModel]="approvalModel"></app-base-approval>
    </div>

    <div class="d-flex justify-content-end mt-3">
      <p-button label="Quay lại" severity="info" (click)="onBack()" icon="pi pi-arrow-left" class="me-2"></p-button>
      <p-button *ngIf="!(isViewMode || isApprovalMode)" label="Lưu" icon="pi pi-save" severity="success" [disabled]="!f.valid"
        class="w-full max-w-[17.35rem] me-2" (click)="save()" styleClass="w-full mx-auto" />
      <p-button *ngIf="isApprovalMode" label="Duyệt" icon="pi pi-save" severity="success"
        class="w-full max-w-[17.35rem]" (click)="Approval()" styleClass="w-full mx-auto" />
      <p-button *ngIf="isEditMode" label="Gửi duyệt lại" icon="pi pi-file-check" severity="success"
        [disabled]="!f.valid" class="w-full max-w-[17.35rem]" (click)="ApprovalAgain()" styleClass="w-full mx-auto" />
    </div>
  </form>
</div>
<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>