<app-base-table 
  [apiService]="apiService"
  [columns]="columns"
  [title]="'Dánh sách kế hoạch'"
  [showAddButton]="true"
  [onDeleteItem]="onDeleteItem"
  [actionTemplate]="customActions">
  <ng-template appColumnTemplate="createdAt" let-rowData>
    {{ rowData | date: 'dd/MM/yyyy' }}
  </ng-template>
  <ng-template appColumnTemplate="updatedAt" let-rowData>
    {{ rowData | date: 'dd/MM/yyyy' }}
  </ng-template>
</app-base-table>
<ng-template #customActions let-row>
  <p-button icon="pi pi-pen-to-square" styleClass="p-button-sm p-button-rounded p-button-success m-1" (onClick)="openDialogCheckList(row)"></p-button>
  <p-button icon="pi pi-pen-to-square" styleClass="p-button-sm p-button-rounded p-button-success m-1" (onClick)="openEvaluateDialog(row)"></p-button>
</ng-template>