<!-- Tree Table -->
<div class="base-table-header my-3">
  <h2>Danh sách kế hoạch</h2>
  <p-button [label]="'Thêm mới'" class="p-button-sm" (click)="addItem()" />
</div>
<div class="card">
  <p-table [value]="plans" [paginator]="true" [rows]="size" [totalRecords]="totalRecords" [lazy]="true"
    [loading]="loading" (onLazyLoad)="onPageChange($event)" [showCurrentPageReport]="true"
    currentPageReportTemplate="Từ {first} đến {last} trong {totalRecords} bản ghi"
    [rowsPerPageOptions]="[5, 10, 20, 50]" dataKey="id" [tableStyle]="{ 'min-width': '60rem' }"
    [expandedRowKeys]="expandedRows" (onRowExpand)="onRowExpand($event)" (onRowCollapse)="onRowCollapse($event)"
    [responsiveLayout]="'scroll'" [scrollable]="true">
    <ng-template #header>
      <tr>
        <th></th>
        <th>STT</th>
        <th>Mã kế hoạch</th>
        <th style="min-width: 150px;">Tên kế hoạch</th>
        <th style="min-width: 150px;">Tần suất</th>
        <th style="min-width: 150px;">Số hiệu</th>
        <th style="min-width: 150px;">Người thực hiện</th>
        <th style="min-width: 150px;">Loại kế hoạch</th>
        <th style="min-width: 150px;">Xưởng</th>
        <th style="min-width: 150px;">Ban</th>
        <th style="min-width: 150px;">Quy trình duyệt</th>
        <th style="min-width: 150px;">Người tạo</th>
        <th style="min-width: 150px;">Người cập nhật</th>
        <th style="min-width: 150px;">Ngày tạo</th>
        <th style="min-width: 150px;">Ngày cập nhật</th>
        <th style="min-width: 150px;">Trạng thái</th>
        <th style="min-width: 150px;">Thao tác</th>
      </tr>
      <tr>
        <th></th>
        <th></th>
        <th>
          <p-columnFilter [showMenu]="false" type="text">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <input pInputText [(ngModel)]="filters.code" (keyup.enter)="filter($event)">
            </ng-template>
          </p-columnFilter>
        </th>
        <th>
          <p-columnFilter [showMenu]="false" type="text">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <input pInputText [(ngModel)]="filters.name" (keyup.enter)="filter($event)">
            </ng-template>
          </p-columnFilter>
        </th>
        <th>
          <p-columnFilter [showMenu]="false" type="text">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <input pInputText [(ngModel)]="filters.frequency" (keyup.enter)="filter($event)">
            </ng-template>
          </p-columnFilter>
        </th>
        <th>
          <p-columnFilter [showMenu]="false" type="text">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <input pInputText [(ngModel)]="filters.planNumber" (keyup.enter)="filter($event)">
            </ng-template>
          </p-columnFilter>
        </th>
        <th>
          <p-columnFilter [showMenu]="false" type="text">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <input pInputText [(ngModel)]="filters.userPerformer" (keyup.enter)="filter($event)">
            </ng-template>
          </p-columnFilter>
        </th>
        <th>
          <p-columnFilter [showMenu]="false" type="text">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <input pInputText [(ngModel)]="filters.planType" (keyup.enter)="filter($event)">
            </ng-template>
          </p-columnFilter>
        </th>
        <th>
          <p-columnFilter [showMenu]="false" type="text">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <input pInputText [(ngModel)]="filters.factory" (keyup.enter)="filter($event)">
            </ng-template>
          </p-columnFilter>
        </th>
        <th>
          <p-columnFilter [showMenu]="false" type="text">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <input pInputText [(ngModel)]="filters.branch" (keyup.enter)="filter($event)">
            </ng-template>
          </p-columnFilter>
        </th>
        <th>
          <p-columnFilter [showMenu]="false" type="text">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <input pInputText [(ngModel)]="filters.approvalWorkflow" (keyup.enter)="filter($event)">
            </ng-template>
          </p-columnFilter>
        </th>
        <th>
          <p-columnFilter [showMenu]="false" type="text">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <input pInputText [(ngModel)]="filters.createdBy" (keyup.enter)="filter($event)">
            </ng-template>
          </p-columnFilter>
        </th>
        <th>
          <p-columnFilter [showMenu]="false" type="text">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <input pInputText [(ngModel)]="filters.updatedBy" (keyup.enter)="filter($event)">
            </ng-template>
          </p-columnFilter>
        </th>
        <th>
          <p-columnFilter [showMenu]="false" type="date">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-datepicker appDateConvert [(ngModel)]="filters.createdAt" dateFormat="dd-mm-yy" (ngModelChange)="filter($event)"
                [ngModelOptions]="{ standalone: true }" appendTo="body" [inputSize]="100" />
            </ng-template>
          </p-columnFilter>
        </th>
        <th>
          <p-columnFilter [showMenu]="false" type="text">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-datepicker appDateConvert [(ngModel)]="filters.updatedAt" dateFormat="dd-mm-yy" (ngModelChange)="filter($event)"
                [ngModelOptions]="{ standalone: true }" appendTo="body" [inputSize]="100" />
            </ng-template>
          </p-columnFilter>
        </th>
        <th></th>
        <th></th>
      </tr>
      </ng-template>
      <ng-template #body let-row let-expanded="expanded" let-index="rowIndex">
        <tr>
        <td>
          <p-button type="button" pRipple [pRowToggler]="row" [text]="true" severity="secondary" [rounded]="true"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
        </td>
        <td>{{ index + 1 }}</td>
        <td>{{ row.code }}</td>
        <td>{{ row.name }}</td>
        <td>{{ row.frequency }}</td>
        <td>{{ row.planNumber }}</td>
        <td>{{ row.userPerformer }}</td>
        <td>{{ row.planType.name }}</td>
        <td>{{ row.factory.name }}</td>
        <td>{{ row.branch.name }}</td>
        <td>{{ row.approvalWorkflow.name }}</td>
        <td>{{ row.createdBy }}</td>
        <td>{{ row.updatedBy }}</td>
        <td>{{ row.createdAt | date: 'dd/MM/yyyy HH:mm' }}</td>
        <td>{{ row.updatedAt | date: 'dd/MM/yyyy HH:mm' }}</td>
        <td>
          <p-tag [value]="getStatus(row.status)" [severity]="getSeverity(row.status)" />
        </td>
        <td>
          <p-button icon="pi pi-file-check" *ngIf="row.status == 1"
            styleClass="p-button-sm p-button-rounded p-button-success m-1" (onClick)="approval(row, $event)"></p-button>
          <p-button icon="pi pi-file-check" styleClass="p-button-sm p-button-rounded p-button-info m-1"
            *ngIf="row.planType.code == PLANTYPE.MAINTENANCE && !isLocked(row)"
            (onClick)="viewPlanMaintance(row)"></p-button>
          <p-button icon="pi pi-pencil" *ngIf="!isLocked(row)"
            styleClass="p-button-sm p-button-rounded p-button-warn m-1" (onClick)="editItem(row)"></p-button>
          <p-button icon="pi pi-eye" styleClass="p-button-sm p-button-rounded p-button-info m-1"
            (onClick)="viewItem(row)"></p-button>
          <p-button icon="pi pi-history" styleClass="p-button-sm p-button-rounded p-button-warn m-1"
            (onClick)="viewHistory(row)"></p-button>
          <p-button icon="pi pi-trash" *ngIf="!isLocked(row)"
            styleClass="p-button-sm p-button-rounded p-button-danger m-1"
            (onClick)="deleteItem(row, $event)"></p-button>
        </td>
      </tr>
    </ng-template>
    <ng-template #expandedrow let-row>
      <tr>
        <td colspan="99">
          <p-table [value]="row.details" dataKey="id">
            <ng-template #header>
      <tr>
        <th></th>
        <th>STT</th>
        <th>Nhóm thiết bị</th>
        <th>Tên thiết bị</th>
        <th>Mẫu biên bản</th>
        <th>QR code</th>
        <th>Người thực hiện</th>
        <th>Người tạo</th>
        <th>Người cập nhật</th>
        <th>Ngày tạo</th>
        <th>Ngày cập nhật</th>
        <th>Trạng thái</th>
        <th>Thao tác</th>
      </tr>
    </ng-template>
    <ng-template #body let-detail let-i="rowIndex">
      <tr>
        <th></th>
        <td>{{ i + 1 }}</td>
        <td>{{ detail.deviceGroup.name }}</td>
        <td>{{ detail.device.name }}</td>
        <td>{{ detail.sampleReport.name }}</td>
        <td>{{ detail.qrCode }}</td>
        <td>{{ detail.manager }}</td>
        <td>{{ detail.createdBy }}</td>
        <td>{{ detail.updatedBy }}</td>
        <td>{{ detail.createdAt | date: 'dd/MM/yyyy HH:mm' }}</td>
        <td>{{ detail.updatedAt | date: 'dd/MM/yyyy HH:mm' }}</td>
        <td>
          <p-tag [value]="getStatus(detail.status)" [severity]="getSeverity(detail.status)" />
        </td>
        <td>
          <p-button icon="pi pi-file" styleClass="p-button-sm p-button-rounded p-button-secondary m-1"
            *ngIf="(row.planType.code == PLANTYPE.MAINTENANCE || row.planType.code == PLANTYPE.REPAIR) && !isLocked(row)"
            (onClick)="acceptance(detail, row)"></p-button>
          <p-button icon="pi pi-check-square" *ngIf="!isLocked(row)"
            styleClass="p-button-sm p-button-rounded p-button-success m-1"
            (onClick)="deviceDateCheckList(detail, row)"></p-button>
          <p-button icon="pi pi-wrench" *ngIf="!isLocked(row)"
            styleClass="p-button-sm p-button-rounded p-button-warn m-1" (onClick)="repairDevice(detail)"></p-button>
          <p-button icon="pi pi-eye" styleClass="p-button-sm p-button-rounded p-button-info m-1"
            *ngIf="row.planType.code == PLANTYPE.DAILYCHECK" (onClick)="viewEvaluateDevice(detail)"></p-button>
          <p-button icon="pi pi-trash" *ngIf="!isLocked(row)"
            styleClass="p-button-sm p-button-rounded p-button-danger m-1"
            (onClick)="deleteItem(row, $event)"></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  </td>
  </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td [attr.colspan]="999" class="text-center">
        <p>Không có dữ liệu</p>
      </td>
    </tr>
  </ng-template>
  </p-table>
</div>
<p-toast />
<p-confirmdialog />