<div class="device-task hidden md:block">
  <p-tabs [value]="activeTabIndex" (valueChange)="onTabChange($event)" scrollable>
    <p-tablist>
      <p-tab value="0">Lịch sử di chuyển</p-tab>
      <p-tab value="1">Danh sách lỗi thiết bị</p-tab>
      <p-tab value="2">Lịch sử bảo dưỡng, sửa chữa</p-tab>
      <p-tab value="3">Kiểm tra thiết bị</p-tab>
      <p-tab value="4">Bảo trì thiết bị</p-tab>
      <!-- <p-tab value="5">Sửa chữa thiết bị</p-tab> -->
      <p-tab value="6">Thống kê thời gian dừng máy</p-tab>
    </p-tablist>
    <p-tabpanels>
      <!-- Lịch sử di chuyển -->
      <p-tabpanel value="0">
        <div class="table-responsive">
          <p-table [value]="listHistory" responsiveLayout="scroll">
            <ng-template pTemplate="header">
              <tr>
                <th>Ngành</th>
                <th>Dây chuyền</th>
                <th>Tổ</th>
                <th></th>
                <th>Ngành</th>
                <th>Dây chuyền</th>
                <th>Tổ</th>
                <th>Lý do</th>
                <th>Người di chuyển</th>
                <th>Thời gian</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row let-i="rowIndex">
              <tr>
                <td>{{ row.oldBranchName }}</td>
                <td>{{ row.oldLineName }}</td>
                <td>{{ row.oldTeamName }}</td>
                <td><i class="pi pi-arrow-right"></i></td>
                <td>{{ row.newBranchName }}</td>
                <td>{{ row.newLineName }}</td>
                <td>{{ row.newTeamName }}</td>
                <td>{{ row.reason }}</td>
                <td>{{ row.movedBy }}</td>
                <td>{{ row.movedAt | date:'dd/MM/yyyy HH:mm'}}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="99" class="text-center">Chưa có lịch sử di chuyển</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </p-tabpanel>
      <!-- Lịch sử sự cố -->
      <p-tabpanel value="1">
        <p-table [value]="listError" responsiveLayout="scroll">
          <ng-template pTemplate="header">
            <tr>
              <th>Tên lỗi</th>
              <th>Loại lỗi</th>
              <th>Thời gian lỗi</th>
              <th>Trạng thái</th>
              <th>Thao tác</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-row let-i="rowIndex">
            <tr>
              <td>{{ row.name }}</td>
              <td>{{ getSeverity(row.severity) }}</td>
              <td>{{ row.timeReported | date: 'dd-MM-yyyy' }}</td>
              <td><span [ngClass]="row.isRepaired ? 'badge text-bg-success' : 'badge text-bg-danger'">{{ row.isRepaired
                  ? 'Đã sửa' : 'Chưa sửa' }}</span></td>
              <td>
                <p-button icon="pi pi-wrench" styleClass="m-1" severity="warn" *ngIf="!row.isRepaired"
                  (onClick)="repairError(row)"></p-button>
                <p-button icon="pi pi-check" severity="success" class="m-1" title="Xác nhận đã sửa chữa"
                  (onClick)="confirmError($event, row)" *ngIf="!row.isRepaired">
                </p-button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="99" class="text-center">Chưa có lịch sử di chuyển</td>
            </tr>
          </ng-template>
        </p-table>
      </p-tabpanel>
      <!-- Lịch sử bảo dưỡng, sửa chữa -->
      <p-tabpanel value="2">
        <p-table [value]="listRepaired" responsiveLayout="scroll">
          <ng-template pTemplate="header">
            <tr>
              <th>Tên lỗi</th>
              <th>Loại lỗi</th>
              <th>Nội dung sửa chữa</th>
              <th>Kết quả sửa chữa</th>
              <th>Thời gian sửa chữa</th>
              <th>Người sửa chữa</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-row let-i="rowIndex">
            <tr>
              <td>{{ row.name }}</td>
              <td>{{ getSeverity(row.severity) }}</td>
              <td>{{ row.repairDescription }}</td>
              <td>{{ row.result }}</td>
              <td>{{ row.timeRepaired | date: 'dd-MM-yyyy' }}</td>
              <td>{{ row.repairedBy }}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="99" class="text-center">Chưa có lịch sử di chuyển</td>
            </tr>
          </ng-template>
        </p-table>
      </p-tabpanel>
      <!-- Các ngày kiểm tra chưa thực hiện -->
      <p-tabpanel value="3">
        <div class="d-flex justify-content-end mb-2">
          <p-button styleClass="m-1 w-100" severity="info" (onClick)="addDayCheck()">Thêm ngày kiểm tra</p-button>
        </div>
        <p-table [value]="listPlanAudit" dataKey="stt" [resizableColumns]="true"
          [scrollable]="true" scrollHeight="500px">
          <ng-template pTemplate="header">
            <tr>
              <!-- <th style="width: 80px">STT</th> -->
              <!-- <th>Tên kế hoạch</th> -->
              <!-- <th>Mã thiết bị</th> -->
              <th>Tên thiết bị</th>
              <th>Người thực hiện</th>
              <th>Ngày kiểm tra</th>
              <th>Trạng thái</th>
              <th>Thao tác</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-row>
            <tr>
              <!-- <td>{{ row.stt }}</td> -->
              <!-- <td>{{ row.planName }}</td> -->
              <!-- <td>{{ row.deviceCode }}</td> -->
              <td>{{ row.deviceName }}</td>
              <td [pTooltip]="row.userPerformer" tooltipPosition="top">
                <span class="text-truncate-performer">{{ row.userPerformer }}</span>
              </td>
              <td>{{ row.dateTest | date:'dd/MM/yyyy' }}</td>
              <td><p-tag [value]="statusToString(row.status)" [severity]="getSeverityStatus(row.status)" /></td>
              <td>
                <ng-container *appHasRole="['RD_QLTB_ADMIN', 'RD_QLTB_OP', 'RD_QLTB_MANAGER']">
                  <p-button icon="pi pi-check-circle" styleClass="m-1" severity="info" *ngIf="row.enabledCheck" 
                    (onClick)="checkDevice(row)"></p-button>
                  <p-button icon="pi pi-check" styleClass="m-1" severity="success" title="Hoàn thành"
                    *ngIf="row.enabledCheck && row.status != 1" (onClick)="completeCheckDate(row, $event)"></p-button>
                  <p-button icon="pi pi-calendar-minus" styleClass="m-1" severity="secondary" title="Ngày nghỉ"
                    *ngIf="row.enabledCheck" (onClick)="dayOff(row, $event)"></p-button>
                </ng-container>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="99" class="text-center">Chưa có đợt kiểm tra nào</td>
            </tr>
          </ng-template>
        </p-table>
      </p-tabpanel>
      <p-tabpanel value="4">
        <!-- <div class="d-flex justify-content-end mb-2">
          <p-button styleClass="m-1 w-100" severity="info">Thêm ngày kiểm tra</p-button>
        </div> -->
        <p-table [value]="listPlanMaintance" dataKey="stt" [paginator]="true" [rows]="10" [resizableColumns]="true"
          [scrollable]="true" scrollHeight="500px">
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 80px">STT</th>
              <th>Tên kế hoạch</th>
              <th>Mã thiết bị</th>
              <th>Tên thiết bị</th>
              <th>Người thực hiện</th>
              <th>Ngày kiểm tra</th>
              <th>Trạng thái</th>
              <th>Thao tác</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-row>
            <tr>
              <td>{{ row.stt }}</td>
              <td>{{ row.planName }}</td>
              <td>{{ row.deviceCode }}</td>
              <td>{{ row.deviceName }}</td>
              <td [pTooltip]="row.userPerformer" tooltipPosition="top">
                <span class="text-truncate-performer">{{ row.userPerformer }}</span>
              </td>
              <td>
                <p-datepicker [(ngModel)]="row.dateTest" appDateConvert [iconDisplay]="'input'" [showIcon]="true"
                            name="dateTest" inputId="icondisplay" [dateFormat]="'dd-mm-yy'" appendTo="body" [disabled]="row.status == 15"/>
              </td>
              <td><p-tag [value]="statusToString(row.status)" [severity]="getSeverityStatus(row.status)" /></td>
              <td>
                <p-button icon="pi pi-check-circle" styleClass="m-1" severity="info" *ngIf="row.status != 15"
                  (onClick)="checkDevice(row)"></p-button>
                <p-button icon="pi pi-check" styleClass="m-1" severity="success" title="Hoàn thành"
                  *ngIf="row.status != 15 && row.status != 1" (onClick)="completeCheckDate(row, $event)"></p-button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="99" class="text-center">Chưa có đợt kiểm tra nào</td>
            </tr>
          </ng-template>
        </p-table>
      </p-tabpanel>
      <p-tabpanel value="5">
        <p class="m-0">
          5555
        </p>
      </p-tabpanel>

      <!-- Thống kê thời gian dừng máy -->
      <p-tabpanel value="6">
        <p-table [value]="listDeviceStops" dataKey="stt" [paginator]="true" [rows]="10" [resizableColumns]="true"
          [scrollable]="true" scrollHeight="500px">
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 80px">STT</th>
              <th>Thời gian dừng máy</th>
              <th>Thời gian bắt đầu chạy lại</th>
              <th>Tổng thời gian dừng</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
            <tr>
              <td>{{ rowIndex +1 }}</td>
              <td>{{ row.timeReported | date:'dd/MM/yyyy HH:mm' }}</td>
              <td>{{ row.timeRepaired | date:'dd/MM/yyyy HH:mm' }}</td>
              <td>{{ row.totalStopTime }}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>

<div class="device-task-mobile block md:hidden">
  <h5 class="font-bold my-3">Thông tin chi tiết thiết bị</h5>
  <p-accordion [value]="activeTabIndex" (valueChange)="onTabChange($event)">
    <p-accordion-panel value="3">
      <p-accordion-header>Kiểm tra thiết bị</p-accordion-header>
      <p-accordion-content>
        <div class="d-flex justify-content-center align-items-center mb-2">
          <p-button styleClass="m-1 w-100" severity="info" (onClick)="addDayCheck()">Thêm ngày kiểm tra</p-button>
        </div>
        <p-table [value]="listPlanAudit" dataKey="stt" [scrollable]="true"
          scrollHeight="500px">
          <ng-template pTemplate="header">
            <tr>
              <th>Thông tin chung</th>
              <th>Thao tác</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-row>
            <tr>
              <td>
                <!-- <b>Tên kế hoạch:</b> {{ row.planName }} <br /> -->
                <!-- <b>Mã thiết bị:</b> {{ row.deviceCode }} <br /> -->
                <b>Tên thiết bị:</b> {{ row.deviceName }} <br />
                <b>Người thực hiện:</b> 
                <span class="text-truncate-performer" [pTooltip]="row.userPerformer" tooltipPosition="top">
                  {{ row.userPerformer }}
                </span> <br />
                <b>Ngày kiểm tra:</b> <span class="text-primary">{{ row.dateTest | date:'dd/MM/yyyy' }}</span> <br />
                <b>Trạng thái:</b> <p-tag [value]="statusToString(row.status)"
                  [severity]="getSeverityStatus(row.status)" /> <br />
              </td>
              <td>
                <ng-container *appHasRole="['RD_QLTB_ADMIN', 'RD_QLTB_OP', 'RD_QLTB_MANAGER']">
                  <p-button icon="pi pi-check-circle" styleClass="m-1" severity="info" *ngIf="row.enabledCheck" 
                    (onClick)="checkDevice(row)"></p-button>
                  <p-button icon="pi pi-check" styleClass="m-1" severity="success" title="Hoàn thành"
                    *ngIf="row.enabledCheck && row.status != 1" (onClick)="completeCheckDate(row, $event)"></p-button>
                  <p-button icon="pi pi-calendar-minus" styleClass="m-1" severity="secondary" title="Ngày nghỉ"
                    *ngIf="row.enabledCheck" (onClick)="dayOff(row, $event)"></p-button>
                </ng-container>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="99" class="text-center">Chưa có đợt kiểm tra nào</td>
            </tr>
          </ng-template>
        </p-table>
      </p-accordion-content>
    </p-accordion-panel>

    <p-accordion-panel value="4">
      <p-accordion-header>Kiểm tra bảo trì thiết bị</p-accordion-header>
      <p-accordion-content>
        <p-table [value]="listPlanMaintance" dataKey="stt" [resizableColumns]="true" [scrollable]="true"
          scrollHeight="500px">
          <ng-template pTemplate="header">
            <tr>
              <th>Thông tin chung</th>
              <th>Thao tác</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-row>
            <tr>
              <td>
                <!-- <b>Tên kế hoạch:</b> {{ row.planName }} <br /> -->
                <!-- <b>Mã thiết bị:</b> {{ row.deviceCode }} <br /> -->
                <b>Tên thiết bị:</b> {{ row.deviceName }} <br />
                <b>Người thực hiện:</b> 
                <span class="text-truncate-performer" [pTooltip]="row.userPerformer" tooltipPosition="top">
                  {{ row.userPerformer }}
                </span> <br />
                <b>Ngày kiểm tra:</b> {{ row.dateTest | date:'dd/MM/yyyy' }} <br />
                <b>Trạng thái:</b> <p-tag [value]="statusToString(row.status)"
                  [severity]="getSeverityStatus(row.status)" /> <br />
              </td>
              <td>
                <p-button icon="pi pi-check-circle" styleClass="m-1" severity="info" *ngIf="row.status != 15"
                  (onClick)="checkDevice(row)"></p-button>
                <p-button icon="pi pi-check" styleClass="m-1" severity="success" title="Hoàn thành"
                  *ngIf="row.status != 15 && row.status != 1" (onClick)="completeCheckDate(row, $event)"></p-button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="99" class="text-center">Chưa có đợt kiểm tra nào</td>
                </tr>
            </ng-template>
        </p-table>
      </p-accordion-content>
    </p-accordion-panel>

    <p-accordion-panel value="1">
      <p-accordion-header>Danh sách lỗi thiết bị</p-accordion-header>
      <p-accordion-content>
        <p-table [value]="listError" responsiveLayout="scroll">
          <ng-template pTemplate="header">
            <tr>
              <th>Thông tin chung</th>
              <th>Thao tác</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-row let-i="rowIndex">
            <tr>
              <td>
                <b>Tên lỗi:</b> {{ row.name }} <br />
                <b>Loại lỗi:</b> {{ getSeverity(row.severity) }} <br />
                <b>Thời gian lỗi:</b> {{ row.timeReported | date:'dd/MM/yyyy HH:mm' }} <br />
                <b>Trạng thái:</b> <span
                  [ngClass]="row.isRepaired ? 'badge text-bg-success' : 'badge text-bg-danger'">{{ row.isRepaired ? 'Đã sửa' : 'Chưa sửa' }}</span> <br />
              </td>
              <td>
                <p-button icon="pi pi-wrench" styleClass="m-1" severity="warn" *ngIf="!row.isRepaired"
                  (onClick)="repairError(row)"></p-button>
                <p-button icon="pi pi-check" severity="success" class="m-1" title="Xác nhận đã sửa chữa"
                  (onClick)="confirmError($event, row)" *ngIf="!row.isRepaired">
                </p-button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="99" class="text-center">Chưa có lịch sử di chuyển</td>
            </tr>
          </ng-template>
        </p-table>
      </p-accordion-content>
    </p-accordion-panel>

    <p-accordion-panel value="0">
      <p-accordion-header>Lịch sử di chuyển</p-accordion-header>
      <p-accordion-content>
        <p-table [value]="listHistory" responsiveLayout="scroll">
          <ng-template pTemplate="header">
            <tr>
              <th>Thông tin chung</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-row let-i="rowIndex">
            <tr>
              <td>
                <b>Ngành cũ:</b> {{ row.oldBranchName }} <br />
                <b>Dây chuyền cũ:</b> {{ row.oldLineName }} <br />
                <b>Tổ cũ:</b> {{ row.oldTeamName }} <br />
                <b>Ngành mới:</b> {{ row.newBranchName }} <br />
                <b>Dây chuyền mới:</b> {{ row.newLineName }} <br />
                <b>Tổ mới:</b> {{ row.newTeamName }} <br />
                <b>Lý do:</b> {{ row.reason }} <br />
                <b>Người di chuyển:</b> {{ row.movedBy }} <br />
                <b>Thời gian:</b> {{ row.movedAt | date:'dd/MM/yyyy HH:mm' }} <br />
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="99" class="text-center">Chưa có lịch sử di chuyển</td>
            </tr>
          </ng-template>
        </p-table>
      </p-accordion-content>
    </p-accordion-panel>

    <!-- Thống kê thời gian dừng máy -->
    <p-accordion-panel value="6">
      <p-accordion-header>Thời gian dừng máy</p-accordion-header>
      <p-accordion-content>
        <p-table [value]="listDeviceStops" dataKey="stt" [paginator]="true" [rows]="10" [resizableColumns]="true"
          [scrollable]="true" scrollHeight="500px">
          <ng-template pTemplate="header">
            <tr>
              <th>Thông tin chung</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-row>
            <tr>
              <td>
                <b>Thời gian dừng máy:</b>
                {{ row.timeReported | date:'dd/MM/yyyy HH:mm' }} <br />

                <b>Thời gian bắt đầu chạy lại:</b>
                {{ row.timeRepaired | date:'dd/MM/yyyy HH:mm' }} <br />

                <b>Tổng thời gian dừng:</b>
                {{ row.totalStopTime }} <br />
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td [attr.colspan]="999" class="text-center">
                <p>Không có dữ liệu</p>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-accordion-content>
    </p-accordion-panel>
  </p-accordion>
</div>

<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>