.scan-qr-device {
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
}
.device-task {
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
}

.device-task.hidden {
  @media screen and (max-width: 768px) {
    display: none !important;
  }
}