<div class="device-task">
  <p-tabs value="0" (valueChange)="onTabChange($event)">
    <p-tablist>
      <p-tab value="0">Lịch sử di chuyển</p-tab>
      <p-tab value="1">Lịch sử sự cố</p-tab>
      <p-tab value="2">Lịch sử bảo dưỡng, sửa chữa</p-tab>
      <p-tab value="3">Kiểm tra thiết bị</p-tab>
      <p-tab value="4">Bảo trì thiết bị</p-tab>
      <p-tab value="5">Sửa chữa thiết bị</p-tab>
    </p-tablist>
    <p-tabpanels>
      <!-- Lịch sử di chuyển -->
      <p-tabpanel value="0">
        <div class="table-responsive">
          <p-table [value]="listHistory" responsiveLayout="scroll">
            <ng-template pTemplate="header">
              <tr>
                <th>Ngành</th>
                <th>Dây chuyền</th>
                <th>Tổ</th>
                <th></th>
                <th>Ngành</th>
                <th>Dây chuyền</th>
                <th>Tổ</th>
                <th>Lý do</th>
                <th>Người di chuyển</th>
                <th>Thời gian</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row let-i="rowIndex">
              <tr>
                <td>{{ row.oldBranchName }}</td>
                <td>{{ row.oldLineName }}</td>
                <td>{{ row.oldTeamName }}</td>
                <td><i class="pi pi-arrow-right"></i></td>
                <td>{{ row.newBranchName }}</td>
                <td>{{ row.newLineName }}</td>
                <td>{{ row.newTeamName }}</td>
                <td>{{ row.reason }}</td>
                <td>{{ row.movedBy }}</td>
                <td>{{ row.movedAt | date:'dd/MM/yyyy HH:mm'}}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="99" class="text-center">Chưa có lịch sử di chuyển</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </p-tabpanel>
      <!-- Lịch sử sự cố -->
      <p-tabpanel value="1">
        <p-table [value]="listError" responsiveLayout="scroll">
          <ng-template pTemplate="header">
            <tr>
              <th>Tên lỗi</th>
              <th>Loại lỗi</th>
              <th>Thời gian lỗi</th>
              <th>Trạng thái</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-row let-i="rowIndex">
            <tr>
              <td>{{ row.name }}</td>
              <td>{{ getSeverity(row.severity) }}</td>
              <td>{{ row.timeReported | date: 'dd-MM-yyyy' }}</td>
              <td><span [ngClass]="row.isRepaired ? 'badge text-bg-success' : 'badge text-bg-danger'">{{ row.isRepaired ? 'Đã sửa' : 'Chưa sửa' }}</span></td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="99" class="text-center">Chưa có lịch sử di chuyển</td>
            </tr>
          </ng-template>
        </p-table>
      </p-tabpanel>
      <!-- Lịch sử bảo dưỡng, sửa chữa -->
      <p-tabpanel value="2">
        <p-table [value]="listRepaired" responsiveLayout="scroll">
          <ng-template pTemplate="header">
            <tr>
              <th>Tên lỗi</th>
              <th>Loại lỗi</th>
              <th>Nội dung sửa chữa</th>
              <th>Kết quả sửa chữa</th>
              <th>Thời gian sửa chữa</th>
              <th>Người sửa chữa</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-row let-i="rowIndex">
            <tr>
              <td>{{ row.name }}</td>
              <td>{{ getSeverity(row.severity) }}</td>
              <td>{{ row.repairDescription }}</td>
              <td>{{ row.result }}</td>
              <td>{{ row.timeRepaired | date: 'dd-MM-yyyy' }}</td>
              <td>{{ row.repairedBy }}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="99" class="text-center">Chưa có lịch sử di chuyển</td>
            </tr>
          </ng-template>
        </p-table>
      </p-tabpanel>
      <p-tabpanel value="3">
        <p class="m-0">
          3333
        </p>
      </p-tabpanel>
      <p-tabpanel value="4">
        <p class="m-0">
          4444
        </p>
      </p-tabpanel>
      <p-tabpanel value="5">
        <p class="m-0">
          5555
        </p>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>