<div class="layout-topbar">
  <div class="layout-topbar-logo-container">
    <button class="layout-menu-button layout-topbar-action" (click)="layoutService.onMenuToggle()">
      <i class="pi pi-bars"></i>
    </button>
    <a class="layout-topbar-logo d-none d-lg-block" routerLink="/">
      <span>Quản Lý Thiết Bị</span>
    </a>
  </div>

  <div class="layout-topbar-actions">
    <div class="layout-config-menu">
      <button type="button" class="layout-topbar-action" (click)="toggleDarkMode()">
        <i
          [ngClass]="{ 'pi ': true, 'pi-moon': layoutService.isDarkTheme(), 'pi-sun': !layoutService.isDarkTheme() }"></i>
      </button>
      <a class="layout-topbar-action" (click)="notificationPopover.toggle($event)">
        <p-overlaybadge [value]="unreadCount" severity="danger">
          <i class="pi pi-bell"></i>
        </p-overlaybadge>
      </a>
      <div class="flex align-items-center d-block d-lg-none" style="cursor: pointer;">
        <p-avatar type="button" icon="pi pi-user" shape="circle" pRipple (click)="mobileMenu.toggle($event)"></p-avatar>
        <p-menu #mobileMenu [model]="userMenuItems" [popup]="true"></p-menu>
      </div>
      <button class="layout-topbar-action d-block d-lg-none" (click)="mobileMenuVisible = true">
        <i class="pi pi-ellipsis-v"></i>
      </button>
    </div>

    <div class="layout-topbar-menu d-none d-lg-block">
      <div class="layout-topbar-menu-content">
        <a class="layout-topbar-action" routerLink="/qr-code">
          <i class="fa-solid fa-qrcode"></i>
          <span>QR Code</span>
        </a>
        <a class="layout-topbar-action" routerLink="/Import">
          <i class="fa-solid fa-file-import"></i>
          <span>Import</span>
        </a>
        <a class="layout-topbar-action" routerLink="/PlanSummary">
          <i class="fa-solid fa-file-arrow-down"></i>
          <span>Plan Summary</span>
        </a>
        <a class="layout-topbar-action" routerLink="/PlanApprove">
          <i class="fa-solid fa-person-circle-check"></i>
          <span>Plan Approve</span>
        </a>
        <button type="button" class="layout-topbar-action">
          <i class="fas fa-expand-arrows-alt"></i>
          <span>Full screen</span>
        </button>
        <div class="flex align-items-center" style="cursor: pointer;">
          <p-avatar type="button" icon="pi pi-user" shape="circle" pRipple (click)="desktopMenu.toggle($event)"></p-avatar>
          <p-menu #desktopMenu [model]="userMenuItems" [popup]="true"></p-menu>
        </div>
      </div>


      <!-- Thông báo -->
      <p-popover #notificationPopover [dismissable]="true" styleClass="w-20rem">
        <ng-template pTemplate="content">
          <div class="notification-list">
            <ng-container *ngIf="notifications.length > 0; else emptyNoti">
              <div *ngFor="let noti of notifications"
                class="p-2 border-bottom-1 surface-border cursor-pointer flex align-items-center"
                (click)="openNotification(noti)">
                <i class="pi pi-info-circle text-primary" *ngIf="!noti.read"></i>
                <span [ngClass]="noti.read ? 'ms-4' : 'ms-2'">{{ noti.message }}</span>
              </div>
              <div class="p-2 text-center">
                <button pButton type="button" label="Đánh dấu tất cả đã đọc" class="p-button-sm p-button-text"
                  (click)="markAllAsRead(); notificationPopover.hide()"></button>
              </div>
            </ng-container>
            <ng-template #emptyNoti>
              <div class="p-3 text-center text-500">Không có thông báo</div>
            </ng-template>
          </div>
        </ng-template>
      </p-popover>
    </div>


    <!-- Mobile menu -->
    <p-drawer header="Menu" [(visible)]="mobileMenuVisible" position="top" [baseZIndex]="10000">
      <div class="topbar-menu-mobile">
        <a class="layout-topbar-action" routerLink="/qr-code">
          <i class="fa-solid fa-qrcode"></i>
          <span>QR Code</span>
        </a>
        <a class="layout-topbar-action" routerLink="/Import">
          <i class="fa-solid fa-file-import"></i>
          <span>Import</span>
        </a>
        <a class="layout-topbar-action" routerLink="/PlanSummary">
          <i class="fa-solid fa-file-arrow-down"></i>
          <span>Plan Summary</span>
        </a>
        <a class="layout-topbar-action" routerLink="/PlanApprove">
          <i class="fa-solid fa-person-circle-check"></i>
          <span>Plan Approve</span>
        </a>
      </div>
    </p-drawer>
  </div>
</div>