<div>
  <h2>{{ isAddMode ? 'Thêm mới vật tư' : (isViewMode ? 'Xem chi tiết vật tư' : 'Sửa vật tư') }}</h2>

  <form #f="ngForm" *ngIf="model">
    <div class="row my-3">
      <div class="col-6" *ngIf="!isAddMode">
        <p-floatlabel variant="on">
          <input pInputText id="code" name="code" [(ngModel)]="model.code" autocomplete="off" [disabled]="true"
            [fluid]="true" />
          <label for="code">Mã vật tư</label>
        </p-floatlabel>
      </div>
      <div [ngClass]="isAddMode ? 'col-12' : 'col-6'">
        <p-floatlabel variant="on">
          <input pInputText id="name" name="name" [(ngModel)]="model.name" required required [invalid]="!model.name" autocomplete="off"
            [disabled]="isViewMode" [fluid]="true" />
          <label for="name">Tên vật tư</label>
        </p-floatlabel>
      </div>
    </div>

    <div class="row my-3">
      <div class="col-12">
        <p-floatlabel variant="on">
          <p-select [(ngModel)]="model.group" [options]="listSupplyGroups" optionLabel="name" [fluid]="true"
            [disabled]="isViewMode" [showClear]="true" [appendTo]="'body'" id="group" name="group" required
            [invalid]="!model.group" dataKey="id">
          </p-select>
          <label for="group">Tên nhóm vật tư</label>
        </p-floatlabel>
      </div>
    </div>

    <div class="row my-3">
      <div class="col-4">
        <p-floatlabel variant="on">
          <input pInputText id="erp" name="erp" [(ngModel)]="model.erp" autocomplete="off"
            [disabled]="isViewMode" [fluid]="true" />
          <label for="erp">ERP</label>
        </p-floatlabel>
      </div>
      <div class="col-4">
        <p-floatlabel variant="on">
          <input pInputText id="sapCode" name="sapCode" [(ngModel)]="model.sapCode" autocomplete="off"
            [disabled]="isViewMode" [fluid]="true" />
          <label for="sapCode">SAP Code</label>
        </p-floatlabel>
      </div>
      <div class="col-4">
        <p-floatlabel variant="on">
          <input pInputText id="source" name="source" [(ngModel)]="model.source" autocomplete="off"
            [disabled]="isViewMode" [fluid]="true" />
          <label for="source">Nguồn vật tư</label>
        </p-floatlabel>
      </div>
    </div>

    <div class="d-flex my-3 align-items-center justify-content-between">
      <h6 style="margin: 0;">Danh sách serial</h6>
      <p-button *ngIf="!isViewMode" label="Thêm dòng" icon="pi pi-plus" severity="success"
        class="w-full max-w-[17.35rem]" styleClass="w-full mx-auto" (click)="addNewRow()" />
    </div>

    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>mã serial</th>
            <th style="min-width: 200px;">ngày nhập</th>
            <th>xuất xứ</th>
            <th>đơn vị</th>
            <th>giá</th>
            <th>loại tiền tệ</th>
            <th>số lượng</th>
            <th>Trạng thái</th>
            <th>Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of listSerials; let i = index">
            <td><input type="text" pInputText [(ngModel)]="row.serial" name="serial-{{i}}" [disabled]="isViewMode"></td>
            <td><p-datepicker [(ngModel)]="row.importDate" [iconDisplay]="'input'" [showIcon]="true"
                name="importDate-{{i}}" inputId="icondisplay" [dateFormat]="'yy-mm-dd'" [showTime]="true"
                appendTo="body" [disabled]="isViewMode"/>
            </td>
            <td><input type="text" pInputText [(ngModel)]="row.supplier" name="supplier-{{i}}" [disabled]="isViewMode"></td>
            <td><input type="text" pInputText [(ngModel)]="row.unit" name="unit-{{i}}" [disabled]="isViewMode"></td>
            <td><p-inputnumber id="price" name="price-{{i}}" [(ngModel)]="row.price" autocomplete="off" [disabled]="isViewMode" [fluid]="true" mode="decimal"/></td>
            <td><input type="text" pInputText [(ngModel)]="row.currency" name="currency-{{i}}" [disabled]="isViewMode"></td>
            <td><p-inputnumber id="quantity" name="quantity-{{i}}" [(ngModel)]="row.quantity" autocomplete="off" [disabled]="isViewMode" [fluid]="true"/></td>
            <td>
              <p-select [(ngModel)]="row.status" [options]="listStatus" optionLabel="label" [fluid]="true" [disabled]="isViewMode"
                optionValue="value" [showClear]="true" [appendTo]="'body'" id="status-{{i}}" name="status-{{i}}">
              </p-select>
            </td>
            <td class="text-center">
              <p-button icon="pi pi-trash" severity="danger" (onClick)="deleteRow(i)"></p-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row my-3">
      <div class="col-12">
        <textarea pTextarea class="form-control" rows="5" placeholder="Mô tả ..." id="description" name="description"
          [(ngModel)]="model.description" [disabled]="isViewMode"></textarea>
      </div>
    </div>

    <div class="row my-3">
      <div class="col-12">
        <p-floatlabel variant="on">
          <p-select [(ngModel)]="model.status" [options]="listStatus" optionLabel="label" [fluid]="true" required
            [disabled]="isViewMode" optionValue="value" [showClear]="true" [appendTo]="'body'" id="status" name="status"
            [invalid]="!model.status">
          </p-select>
          <label for="status">Trạng thái</label>
        </p-floatlabel>
      </div>
    </div>

    <div class="d-flex justify-content-end mt-3">
      <p-button label="Quay lại" severity="info" (click)="onBack()" icon="pi pi-arrow-left" class="me-2"></p-button>
      <p-button *ngIf="!isViewMode" label="Lưu" icon="pi pi-save" severity="success" [disabled]="!f.valid"
        class="w-full max-w-[17.35rem]" (click)="save()" styleClass="w-full mx-auto" />
    </div>
  </form>
</div>