<div>
  <h2>{{ isAddMode ? 'Thêm mới nhóm thông số' : (isViewMode ? 'Xem chi tiết nhóm thông số' : 'Sửa nhóm thông số') }}</h2>

  <form *ngIf="model">
    <div class="row my-3">
      <div class="col-6">
        <p-floatlabel variant="on">
          <input pInputText id="code" name="code" [(ngModel)]="model.code" autocomplete="off" [disabled]="isViewMode" [fluid]="true"/>
          <label for="code">Mã nhóm thông số</label>
        </p-floatlabel>
      </div>
      <div class="col-6">
        <p-floatlabel variant="on">
          <input pInputText id="name" name="name" [(ngModel)]="model.name" [invalid]="!model.name" autocomplete="off" [disabled]="isViewMode" [fluid]="true"/>
          <label for="name">Tên nhóm thông số</label>
        </p-floatlabel>
      </div>
    </div>

    <div class="row my-3">
      <div class="col-12">
        <p-fieldset legend="Mô tả" class="custom-fieldset">
          <p-editor [(ngModel)]="model.description" name="description" [style]="{ height: '150px' }" [readonly]="isViewMode"></p-editor>
        </p-fieldset>
      </div>
    </div>

    <div class="row my-3">
      <div class="col-12">
        <p-floatlabel variant="on">
          <p-select [(ngModel)]="model.status" [options]="listStatus" optionLabel="label" [fluid]="true" [disabled]="isViewMode"
            optionValue="value" [showClear]="true" [appendTo]="'body'" id="status" name="status" [invalid]="!model.status">
          </p-select>
          <label for="status">Trạng thái</label>
        </p-floatlabel>
      </div>
    </div>
    
    <div class="d-flex justify-content-end mt-3">
      <p-button label="Quay lại" severity="info" (click)="onBack()" icon="pi pi-arrow-left" class="me-2"></p-button>
      <p-button *ngIf="!isViewMode" label="Lưu" icon="pi pi-save" severity="success" [disabled]="!model.name" class="w-full max-w-[17.35rem]" (click)="save()"
            styleClass="w-full mx-auto" />
    </div>
  </form>
</div>