<div>
  <h2>{{ isAddMode ? 'Thêm mới kịch bản phê duyệt' : (isViewMode ? 'Xem chi tiết kịch bản phê duyệt' : 'Sửa kịch bản phê duyệt') }}</h2>

  <form #f="ngForm" *ngIf="model">
    <div class="row my-3">
      <div class="col-6" *ngIf="!isAddMode">
        <p-floatlabel variant="on">
          <input pInputText id="code" name="code" [(ngModel)]="model.code" autocomplete="off" [disabled]="true" [fluid]="true"/>
          <label for="code">Mã kịch bản phê duyệt</label>
        </p-floatlabel>
      </div>
      <div [ngClass]="isAddMode ? 'col-12' : 'col-6'">
        <p-floatlabel variant="on">
          <input pInputText id="name" name="name" [(ngModel)]="model.name" required [invalid]="!model.name" autocomplete="off" [disabled]="isViewMode" [fluid]="true"/>
          <label for="name">Tên kịch bản phê duyệt</label>
        </p-floatlabel>
      </div>
    </div>

    <div class="approval-section my-3">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h5 class="m-0 text-900 font-bold">Quản lý Nhóm Phê duyệt</h5>
        <p-button *ngIf="!isViewMode" label="Thêm Nhóm" icon="pi pi-plus-circle" (click)="addNewApprovalGroup()"
          styleClass="p-button-success p-button-outlined"></p-button>
      </div>
      <div cdkDropList [cdkDropListData]="model.approvalGroups" (cdkDropListDropped)="dropGroup($event)"
        class="d-flex flex-column gap-3">
        <div *ngFor="let group of model.approvalGroups; let i = index; trackBy: trackByGroupId" cdkDrag
          class="group-box my-4 p-2 border rounded-3 bg-surface-100">
          <div class="header-group-name row">
            <div class="col-11">
              <p-floatlabel variant="on">
                <p-select [(ngModel)]="group.groupApprovalName" [options]="listApprovalGroupsName" optionLabel="name"
                  [fluid]="true" [disabled]="isViewMode" [showClear]="true" [appendTo]="'body'" id="groupApprovalName"
                  name="groupApprovalName-{{i}}" required [invalid]="!group.groupApprovalName" dataKey="id">
                </p-select>
                <label for="groupApprovalName">Tên nhóm phê duyệt</label>
              </p-floatlabel>
            </div>
            <div class="col-1">
              <div class="d-flex align-items-center flex-end gap-2">
                <p-button *ngIf="!isViewMode" icon="pi pi-trash" styleClass="p-button-sm p-button-rounded p-button-danger"
                  (onClick)="confirmDeleteGroup(i)"></p-button>
              </div>
            </div>
          </div>
      
          <div class="row mt-3">
            <div class="col-10">
              <p-card>
                <ng-template #header>
                  <div class="d-flex align-items-center justify-content-between p-3">
                    <h6>Danh sách người phê duyệt</h6>
                    <p-button *ngIf="!isViewMode" icon="pi pi-user-plus" (onClick)="addNewApprovalUser(i)"
                      styleClass="p-button-success p-button-outlined"></p-button>
                  </div>
                </ng-template>
      
                <div class="content-group row mb-3" *ngFor="let user of group.approvalGroupUser; let j = index">
                  <div class="col-11">
                    <p-floatlabel variant="on">
                      <p-select [(ngModel)]="user.username" [filter]="true" [options]="listUsers" optionLabel="name"
                        optionValue="username" [fluid]="true" [disabled]="isViewMode" [showClear]="true" [appendTo]="'body'"
                        id="username" name="username-{{i}}-{{j}}" required [invalid]="!user.username">
                      </p-select>
                      <label for="username">Người phê duyệt</label>
                    </p-floatlabel>
                  </div>
                  <div class="col-1">
                    <p-button icon="pi pi-trash" *ngIf="!isViewMode"
                      styleClass="p-button-sm p-button-rounded p-button-danger m-1"
                      (onClick)="confirmDeleteUser(i, j)"></p-button>
                  </div>
                </div>
              </p-card>
            </div>
            <div class="col-2 d-flex align-items-center justify-content-around">
              <p-checkbox inputId="isRequired-{{i}}" [disabled]="isViewMode" [(ngModel)]="group.isRequired" [binary]="true"
                name="isRequired-{{i}}"></p-checkbox>
              <label for="isRequired-{{i}}">Bắt buộc</label>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row my-3">
      <div class="col-12">
        <textarea pTextarea class="form-control" rows="5" placeholder="Mô tả ..." id="description" name="description"
          [(ngModel)]="model.description" [disabled]="isViewMode"></textarea>
      </div>
    </div>

    <div class="row my-3">
      <div class="col-12">
        <p-floatlabel variant="on">
          <p-select [(ngModel)]="model.status" [options]="listStatus" optionLabel="label" [fluid]="true" [disabled]="isViewMode"
            optionValue="value" [showClear]="true" [appendTo]="'body'" id="status" name="status" required [invalid]="!model.status">
          </p-select>
          <label for="status">Trạng thái</label>
        </p-floatlabel>
      </div>
    </div>
    
    <div class="d-flex justify-content-end mt-3">
      <p-button label="Quay lại" severity="info" (click)="onBack()" icon="pi pi-arrow-left" class="me-2"></p-button>
      <p-button *ngIf="!isViewMode" label="Lưu" icon="pi pi-save" severity="success" [disabled]="!f.valid" class="w-full max-w-[17.35rem]" (click)="save()"
            styleClass="w-full mx-auto" />
    </div>
  </form>
</div>

<p-confirmDialog></p-confirmDialog>
