<div class="export-data-page mt-3">
  <h2>Export dữ liệu từ file Excel cho các danh mục</h2>
  <div class="card">
    <div class="row my-3">
      <div class="col-12">
        <p-floatlabel variant="on">
          <p-select [(ngModel)]="data.table" [options]="listTables" optionLabel="name" [fluid]="true" [showClear]="true"
            [appendTo]="'body'" id="table" name="table" dataKey="id">
          </p-select>
          <label for="table">Chọn danh mục</label>
        </p-floatlabel>
      </div>
    </div>
    <div class="row my-3">
      <div class="col-12">
        <button pButton pRipple type="button" label="Export" icon="pi pi-file-excel" class="p-button-success" (click)="exportData()" [disabled]="!data.table"></button>
      </div>
    </div>
  </div>
</div>