<div class="p-1">
    <div class="d-flex justify-content-between mt-2 mb-4">
        <p-button label="Thêm thiết bị" icon="pi pi-plus" (onClick)="addNewRow()"></p-button>
    </div>

    <div class="table-responsive">
        <p-table [value]="ListDevice" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>STT</th>
                    <th>Tên thiết bị</th>
                    <th>QR code</th>
                    <th *ngIf="plan.planType.code == PLANTYPE.MAINTENANCE">Thời gian dự kiến</th>
                    <th *ngIf="plan.planType.code == PLANTYPE.MAINTENANCE">Tên bản kế hoạch BDSC đi kèm</th>
                    <th *ngIf="plan.planType.code == PLANTYPE.MAINTENANCE">Ghi chú</th>
                    <th>Người quản lý</th>
                    <th>Thao tác</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-row let-i="rowIndex">
                <tr>
                    <td>{{ i + 1 }}</td>
                    <td>
                        <p-select [(ngModel)]="row.device" [options]="listDeviceOptions" optionLabel="name" [fluid]="true"
                            [showClear]="true" [appendTo]="'body'" [filter]="true"
                            id="device-{{ i }}" name="device-{{ i }}" dataKey="id" (ngModelChange)="onDeviceChange(row, i)">
                        </p-select>
                    </td>
                    <td>
                        <input type="text" pInputText [(ngModel)]="row.qrCode"/>
                    </td>
                    <td *ngIf="plan.planType.code == PLANTYPE.MAINTENANCE">
                        <p-datepicker [(ngModel)]="row.estimatedTime" [dateFormat]="'mm-yy'" view="month" appDateConvert
                            id="estimatedTime-{{ i }}" name="estimatedTime-{{ i }}" appendTo="body">
                        </p-datepicker>
                    </td>
                    <td *ngIf="plan.planType.code == PLANTYPE.MAINTENANCE">
                        <input type="text" pInputText [(ngModel)]="row.nameDetail" id="nameDetail-{{ i }}" name="nameDetail-{{ i }}"/>
                    </td>
                    <td *ngIf="plan.planType.code == PLANTYPE.MAINTENANCE">
                        <input type="text" pInputText [(ngModel)]="row.note" id="note-{{ i }}" name="note-{{ i }}"/>
                    </td>
                    <td>
                        <!-- <p-select [(ngModel)]="row.manager" [options]="listManagers" optionLabel="name" optionValue="username" [fluid]="true"
                            [showClear]="true" [appendTo]="'body'" [filter]="true"
                            id="manager-{{ i }}" name="manager-{{ i }}" dataKey="username">
                        </p-select> -->
                        <p-multiSelect [(ngModel)]="row.manager" [options]="listManagers" optionLabel="name" optionValue="username" [fluid]="true"
                            [showClear]="true" [appendTo]="'body'" [filter]="true"
                            id="managers-{{ i }}" name="managers-{{ i }}" dataKey="username">
                        </p-multiSelect>
                    </td>
                    <td class="text-center">
                        <p-button icon="pi pi-trash" severity="danger" (onClick)="deleteRow(i)">
                        </p-button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="6" class="text-center">Chưa có thiết bị nào thuộc nhóm thiết bị {{ data.name }}</td>
                </tr>
            </ng-template>
        </p-table>

    </div>

    <div class="d-flex justify-content-end gap-2 mt-4">
        <p-button label="Lưu" severity="success" (onClick)="submit()"></p-button>
        <p-button label="Đóng" (onClick)="close()"></p-button>
    </div>
</div>