<div class="p-1">

    <div class="row my-3">
        <div class="col-4">
            <p-floatlabel variant="on">
                <input pInputText id="deviceCode" name="deviceCode" [(ngModel)]="data.device.deviceCode"
                    autocomplete="off" [fluid]="true" [disabled]="true" />
                <label for="deviceCode">Mã thiết bị</label>
            </p-floatlabel>
        </div>

        <div class="col-4">
            <p-floatlabel variant="on">
                <input pInputText id="deviceName" name="deviceName" [(ngModel)]="data.device.deviceName"
                    autocomplete="off" [fluid]="true" [disabled]="true" />
                <label for="deviceName">Tên thiết bị</label>
            </p-floatlabel>
        </div>

        <div class="col-4">
            <p-floatlabel variant="on">
                <input pInputText id="serial" name="serial" [(ngModel)]="data.device.serial" autocomplete="off"
                    [fluid]="true" [disabled]="true" />
                <label for="serial">Serial</label>
            </p-floatlabel>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-4">
            <p-floatlabel variant="on">
                <input pInputText id="sampleReportName" name="sampleReportName"
                    [(ngModel)]="data.device.sampleReportName" autocomplete="off" [fluid]="true" [disabled]="true" />
                <label for="sampleReportName">Mẫu biên bản</label>
            </p-floatlabel>
        </div>

        <div class="col-4">
            <p-floatlabel variant="on">
                <p-datepicker [(ngModel)]="data.planResult.dateTest" appDateConvert [iconDisplay]="'input'"
                    [showIcon]="true" name="dateTest" inputId="icondisplay" [dateFormat]="'dd-mm-yy'" appendTo="body"
                    [inputSize]="100" [disabled]="true" />
                <label for="dateTest">Ngày đánh giá</label>
            </p-floatlabel>
        </div>

        <div class="col-4">
            <p-floatlabel variant="on">
                <input pInputText id="userTest" name="userTest" [(ngModel)]="data.planResult.userTest"
                    autocomplete="off" [fluid]="true" [disabled]="true" />
                <label for="userTest">Người đánh giá</label>
            </p-floatlabel>
        </div>
    </div>

    <div class="d-flex justify-content-end mt-2 mb-4">
        <p-button label="Khai báo vật tư thay thế" icon="pi pi-wrench" severity="info"
            (onClick)="declareSupplyReplacement()"></p-button>
        <p-button label="Khai báo sự cố" icon="pi pi-exclamation-circle" severity="danger" class="mx-2"
            (onClick)="declareIssue()"></p-button>
    </div>

    <div class="table-responsive">
        <p-table [value]="model.planResultDetail" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>STT</th>
                    <th>Nhóm tiêu trí</th>
                    <th>Tên tiêu trí</th>
                    <th>Tần suất</th>
                    <th [ngStyle]="data.plan.planTypeCode == PLANTYPE.MAINTENANCE ? {} : {'min-width': '600px'}">Mô tả</th>
                    <th *ngIf="data.plan.planTypeCode == PLANTYPE.MAINTENANCE">Ghi chú</th>
                    <th *ngIf="data.plan.planTypeCode == PLANTYPE.MAINTENANCE">Bộ phận thực hiện</th>
                    <th>Kết quả đánh giá</th>
                    <th>Trạng thái</th>
                    <th>Thao tác</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-row let-i="rowIndex">
                <tr>
                    <td>{{ i + 1 }}</td>
                    <td>{{ row.criticalGroup }}</td>
                    <td>{{ row.criticalName }}</td>
                    <td>
                        <p-select [(ngModel)]="row.frequency" [options]="listFrequencies" [fluid]="true"
                            [showClear]="true" [appendTo]="'body'" id="frequency" name="frequency">
                        </p-select>
                    </td>
                    <td>
                        <input pInputText id="note" name="note" [(ngModel)]="row.note" autocomplete="off"
                            [fluid]="true" />
                    </td>
                    <td *ngIf="data.plan.planTypeCode == PLANTYPE.MAINTENANCE">
                        <input pInputText id="comment" name="comment" [(ngModel)]="row.comment" autocomplete="off"
                            [fluid]="true" />
                    </td>
                    <td *ngIf="data.plan.planTypeCode == PLANTYPE.MAINTENANCE">
                        <input pInputText id="committee" name="committee" [(ngModel)]="row.committee" autocomplete="off"
                            [fluid]="true" />
                    </td>
                    <td>
                        <p-select [(ngModel)]="row.result" [options]="listResult" [fluid]="true" [showClear]="true"
                            [appendTo]="'body'" id="result" name="result">
                        </p-select>
                    </td>
                    <td>
                        <p-select [(ngModel)]="row.status" [options]="listStatus" [fluid]="true" [showClear]="true"
                            [appendTo]="'body'" id="status" name="status" optionLabel="label" optionValue="value">
                        </p-select>
                    </td>
                    <td class="text-center">
                        <p-button icon="pi pi-trash" severity="danger" (onClick)="deleteRow(i)">
                        </p-button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="99" class="text-center">Chưa có đợt kiểm tra nào</td>
                </tr>
            </ng-template>
        </p-table>

    </div>

    <div class="d-flex justify-content-end gap-2 mt-4">
        <p-button label="Lưu" severity="success" (onClick)="submit()"></p-button>
        <p-button label="Đóng" (onClick)="close()"></p-button>
    </div>
</div>