<div>
  <h2>{{ isAddMode ? 'Thêm mới ngày nghỉ' : (isViewMode ? 'Xem chi tiết ngày nghỉ' : 'Sửa ngày nghỉ') }}</h2>

  <form #f="ngForm" *ngIf="model">
    <div class="row my-3">
      <div class="col-6">
        <p-floatlabel variant="on">
          <p-select [(ngModel)]="model.branch" [options]="listBranches" optionLabel="name" [fluid]="true" [disabled]="isViewMode"
            [showClear]="true" [appendTo]="'body'" id="branch" name="branch" dataKey="id" [invalid]="!model.branch" required (onChange)="onBranchChange($event)">
          </p-select>
          <label for="branch">Tên ngành</label>
        </p-floatlabel>
      </div>

      <div class="col-6">
        <p-floatlabel variant="on">
          <p-select [(ngModel)]="model.team" [options]="filteredTeams" optionLabel="name" [fluid]="true" [disabled]="isViewMode"
            [showClear]="true" [appendTo]="'body'" id="team" name="team" dataKey="id" [invalid]="!model.team" required>
          </p-select>
          <label for="team">Tên tổ</label>
        </p-floatlabel>
      </div>
    </div>

    <div class="row my-3">
      <div class="col-6">
        <p-floatlabel variant="on">
          <p-datepicker [(ngModel)]="model.fromDate" appDateConvert [iconDisplay]="'input'" [showIcon]="true" name="fromDate" [fluid]="true"
            inputId="icondisplay" [dateFormat]="'dd-mm-yy'" [invalid]="!model.fromDate" required  appendTo="body" [inputSize]="100" [disabled]="isViewMode"/>
          <label for="fromDate">Thời gian bắt đầu</label>
        </p-floatlabel>
      </div>

      <div class="col-6">
        <p-floatlabel variant="on">
          <p-datepicker [(ngModel)]="model.toDate" appDateConvert [iconDisplay]="'input'" [showIcon]="true" name="toDate" [fluid]="true"
            inputId="icondisplay" [dateFormat]="'dd-mm-yy'" [invalid]="!model.toDate" required appendTo="body" [inputSize]="100" [disabled]="isViewMode"/>
          <label for="toDate">Thời gian kết thúc</label>
        </p-floatlabel>
      </div>
    </div>

    <div class="row my-3">
      <div class="col-12">
        <textarea pTextarea class="form-control" rows="5" placeholder="Mô tả ..." id="description" name="description"
          [(ngModel)]="model.description" [disabled]="isViewMode"></textarea>
      </div>
    </div>

    <div class="row my-3">
      <div class="col-12">
        <p-floatlabel variant="on">
          <p-select [(ngModel)]="model.status" [options]="listStatus" optionLabel="label" [fluid]="true" [disabled]="isViewMode"
            optionValue="value" [showClear]="true" [appendTo]="'body'" id="status" name="status" required [invalid]="!model.status">
          </p-select>
          <label for="status">Trạng thái</label>
        </p-floatlabel>
      </div>
    </div>
    <div class="d-flex justify-content-end mt-3">
      <p-button label="Quay lại" severity="info" (click)="onBack()" icon="pi pi-arrow-left" class="me-2"></p-button>
      <p-button *ngIf="!isViewMode" label="Lưu" icon="pi pi-save" severity="success" [disabled]="!f.valid" class="w-full max-w-[17.35rem]" (click)="save()"
            styleClass="w-full mx-auto" />
    </div>
  </form>
</div>