<div class="summary-table">
    <div class="card">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th colspan="3"><img src="/assets/imgs/logo-rang-dong.png" style="width:150px;" /></th>
                        <th colspan="15"><b>BẢNG KIỂM TRA, BẢO DƯỠNG MÁY HÀNG NGÀY, HÀNG TUẦN</b></th>
                        <th colspan="6">Số hiệu:<span id="spanPlanNumber"></span><span id="SpanDieuChinh"></span></th>
                        <th colspan="4">Biên soạn</th>
                        <th colspan="4">Soát xét</th>
                        <th colspan="4">Phê duyệt</th>
                    </tr>
                    <tr>
                        <th colspan="4">Tên đơn vị: <span id="SpanPlanDonVi"></span></th>
                        <th colspan="9">Số hiệu máy: <span id="spanDeviceCode"></span></th>
                        <th rowspan="3" colspan="5">
                            <p><span id="SpanPlanMonth">9</span></p>
                            <p><span id="SpanPlanYear">2025</span></p>
                        </th>
                        <th rowspan="2" colspan="6"><span id="spanMainDatePlan">Ngày / tháng / năm</span></th>
                        <th rowspan="3" colspan="4" style="text-align:center;" id="idBranch">123</th>
                        <th rowspan="3" colspan="4" style="text-align:center;">456</th>
                        <th rowspan="3" colspan="4" style="text-align:center;">789</th>
                    </tr>
                    <tr>
                        <th colspan="4">Tên máy: <span id="spanDeviceName"></span></th>
                        <th colspan="9">Dây chuyền: <span id="spanLineName"></span></th>
                    </tr>
                    <tr>
                        <th colspan="4">
                            Cách thức kiểm tra:
                            <i class="fa-solid fa-circle-half-stroke"></i>Đầu giờ
                            <i class="fa-solid fa-circle-half-stroke fa-rotate-180"></i>Cuối giờ
                            <i class="fa-solid fa-circle"></i>Hàng tuần
                        </th>
                        <th colspan="9">Tổ: <span id="spanTeamName">AFFG</span></th>
                        <th colspan="6"><span id="spanLanbanhanh_1">BBBB</span></th>
                    </tr>
                    <tr>
                        <th rowspan="2">TT</th>
                        <th rowspan="2" colspan="2">Hạng mục chính</th>
                        <th rowspan="2">Nội dung thực hiện</th>
                        <th rowspan="2">Người thực hiện</th>
                        <th colspan="31">Ngày trong tháng</th>
                    </tr>
                    <tr>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                        <th>7</th>
                        <th>8</th>
                        <th>9</th>
                        <th>10</th>
                        <th>11</th>
                        <th>12</th>
                        <th>13</th>
                        <th>14</th>
                        <th>15</th>
                        <th>16</th>
                        <th>17</th>
                        <th>18</th>
                        <th>19</th>
                        <th>20</th>
                        <th>21</th>
                        <th>22</th>
                        <th>23</th>
                        <th>24</th>
                        <th>25</th>
                        <th>26</th>
                        <th>27</th>
                        <th>28</th>
                        <th>29</th>
                        <th>30</th>
                        <th>31</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                    <tr>
                        <td rowspan="2" colspan="4">
                            <p>
                                1. Đánh dấu [<i class="far fa-circle"></i>] khi OK, Dấu [<i
                                    class="fa-solid fa-circle-play fa-rotate-270"></i>] khi đã điều chỉnh, [<i
                                    class="fas fa-times"></i>] khi có bất thường.
                            </p>
                            <p>2. Khi có bất thường, liên lạc với Tổ trưởng hoặc nhóm kỹ thuật, cơ khí Ngành.</p>
                            <p>
                                3. Tổ trưởng hoặc nhóm kỹ thuật, sửa chữa ghi nội dung, ngày tháng, chữ kí vào
                                phần &#60;Ghi chép khi có bất thường, sự cố&#62;.
                            </p>
                            <p>4. Gạch chéo ( // ) vào ngày không sử dụng.</p>
                            <p>5. Mục hàng tuần: Ghi rõ ngày thực hiện.</p>
                        </td>
                        <td>Người thực hiện ký</td>
                        <td id="sign_day_01" style="padding:0px !important;"></td>
                        <td id="sign_day_02" style="padding:0px !important;"></td>
                        <td id="sign_day_03" style="padding:0px !important;"></td>
                        <td id="sign_day_04" style="padding:0px !important;"></td>
                        <td id="sign_day_05" style="padding:0px !important;"></td>
                        <td id="sign_day_06" style="padding:0px !important;"></td>
                        <td id="sign_day_07" style="padding:0px !important;"></td>
                        <td id="sign_day_08" style="padding:0px !important;"></td>
                        <td id="sign_day_09" style="padding:0px !important;"></td>
                        <td id="sign_day_10" style="padding:0px !important;"></td>
                        <td id="sign_day_11" style="padding:0px !important;"></td>
                        <td id="sign_day_12" style="padding:0px !important;"></td>
                        <td id="sign_day_13" style="padding:0px !important;"></td>
                        <td id="sign_day_14" style="padding:0px !important;"></td>
                        <td id="sign_day_15" style="padding:0px !important;"></td>
                        <td id="sign_day_16" style="padding:0px !important;"></td>
                        <td id="sign_day_17" style="padding:0px !important;"></td>
                        <td id="sign_day_18" style="padding:0px !important;"></td>
                        <td id="sign_day_19" style="padding:0px !important;"></td>
                        <td id="sign_day_20" style="padding:0px !important;"></td>
                        <td id="sign_day_21" style="padding:0px !important;"></td>
                        <td id="sign_day_22" style="padding:0px !important;"></td>
                        <td id="sign_day_23" style="padding:0px !important;"></td>
                        <td id="sign_day_24" style="padding:0px !important;"></td>
                        <td id="sign_day_25" style="padding:0px !important;"></td>
                        <td id="sign_day_26" style="padding:0px !important;"></td>
                        <td id="sign_day_27" style="padding:0px !important;"></td>
                        <td id="sign_day_28" style="padding:0px !important;"></td>
                        <td id="sign_day_29" style="padding:0px !important;"></td>
                        <td id="sign_day_30" style="padding:0px !important;"></td>
                        <td id="sign_day_31" style="padding:0px !important;"></td>
                    </tr>
                    <tr>
                        <td>Tổ trưởng xác nhận ký (1 tuần/lần)</td>
                        <td colspan="7" id="sign_week_01"></td>
                        <td colspan="7" id="sign_week_02"></td>
                        <td colspan="7" id="sign_week_03"></td>
                        <td colspan="7" id="sign_week_04"></td>
                        <td colspan="3" id="sign_week_05"></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>